/*-- scss:defaults --*/
$body-bg: #F7F9FA;
$primary: #293607; //#8B857F;//#2A4349;
$secondary: #F3A225;
$link-color: #6A9301; //#6A90B4;
$code-color: #E04D8A; //#B17E93;
$info: #A0B6D5;
$success: #779f45;
$warning: #f48f0d;
$danger: #f44336;
